body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 70px;
}

.starter-template {
    padding: 40px 15px;

}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 180px;

}
.card{
    width: 18rem;
}
img{
    margin-top: 20px;
}
.price{
    font-size: 20px;
    font-weight: bold;
}
.title{
    margin-bottom: 30px;
}

.form-control:active{
    border-color: #146c43;
    box-shadow: none;
}
.form-control:focus{
    border-color: #146c43;
    box-shadow: none;
}
.admin-container{
    margin-top: 30px;
}
.wrap{
    display: flex;

}
.wrap a{
    margin-right: 10px;
}
.title-add{
    font-weight: normal;
    font-size: 20px;
}
.form-admin{
    margin-bottom: 30px;
}
.cart-modal img {
    max-height: 50px;
    max-width: 50px;
}
.footer{
    height: 50px;
    background-color: #101010;
}
.msg {
    border: 1px solid #146c43;
    border-radius: 3px;
    padding: 10px;
    color: #146c43;
    text-align: center;
    font-weight: bold;
}

.show {
    display: block;
}

